* {
  margin: 0;
  padding: 0;
}

body,
html {
  height: 100%;
}
html {
  background: url(bg_home.jpeg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.main {
  display: grid;
  grid-template-rows: 1fr 3fr;
  height: 100%;
}

.navbar {
  width: 100%;
  height: auto;
}

.icon {
  width: 400px;
  float: left;
  height: 70px;
  display: flex;
  flex-direction: row;
}

.logo {
  color: #565656;
  font-family: 'Rye', cursive;
  font-weight: 700;
  float: left;
}

.menu {
  height: 70px;
  margin-right: 20px;
}

ul {
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul li {
  list-style: none;
  margin-left: 62px;
  margin-top: 27px;
}

ul li a {
  text-decoration: none;
  color: #565656;
  font-family: Arial;
  font-weight: bold;
  transition: 0.4s ease-in-out;
}

ul li a:hover {
  color: #ff7200;
}

.div1 {
  display: grid;
  grid-template-rows: 5fr 1fr;
}

.slogo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 15px;
}

.rot {
  height: 400px;
  width: 400px;
  display: block;
  margin: auto;
  animation: zoom-in-zoom-out 15s ease;
}

.zoom-in-out-box {

  margin: auto;
}
@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(0.01, 0.01);
  }
  100% {
    transform: scale(1, 1);
  }
}

@media only screen and (min-device-width: 10px) and (max-device-width: 500px) {
  .main {
    display: grid;
    grid-template-rows: 1fr 6fr;
    height: 100%;
  }
  .content {
    width: 1200px;
    height: auto;
    margin: auto;
    position: relative;
  }
  .logo {
    font-size: 65px;
    margin-bottom: 0px;
    display: block;
    line-height: 0.9;
    margin-top: -10px;
  }
  .logo_s {
    height: 130px;
    width: 130px;
    margin: 20px;
  }


  .rot {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }

  ul li {
    font-size: 50px;
  }

  .icon {
    position: relative;
    grid-area: icon;
    margin-bottom: 0px;
    display: flex;
    flex-direction: row;
    margin-left: -270px;
  }
  .menu {
    grid-area: menu;
    margin-top: 0px;
    display: block;
  }
  .navbar {
    margin-top: 0px;
    display: grid;
    /* grid-template-columns: 2fr 6fr; */
    margin: auto;
  }
  .menu ul {
    align-self: flex-start;
    display: flex;
    justify-content: flex-start;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    margin-top: 0px;
  }
  .menu ul li {
    align-self: flex-start;
  }

  .logo_b {
    height: 550px;
    width: 550px;
  }
  .logo_s {
    margin-top: 25px;
  }
}

@media only screen and (min-device-width: 500px) and (max-device-width: 3000px) {
  .logo_b {
    height: 300px;
    width: 300px;
  }
  .slogo {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .navbar {
    display: grid;
    grid-template-columns: 2fr 6fr;
    /* margin: auto; */
    margin-right: 5%;
    width: 100%;
  }
  .content {
    width: 1200px;
    height: auto;
    margin: auto;
    color: #fff;
    position: relative;
  }
  .logo_s {
    height: 65px;
    width: 65px;
    margin-top: 25px;
  }

  .logo {
    font-size: 35px;
    /* padding-top: 10px; */
    margin-top: 30px;
    margin-left: 35px;
  }
  ul li {
    font-size: 22px;
  }
  .zoom-in-out-box {
    margin-top: -100px;
      }
}
